@import '../../styles/base/media.css';

@custom-selector :--letters
  .letterL,
  .letterG,
  .letterB,
  .letterT,
  .letterQr,
  .letterQs,
  .letterI,
  .letterA;

main {
  & header {
    display: flex;
    flex-flow: column;
    margin-bottom: 2.4rem;

    & h1.hero {
      @mixin futura-pt-demi;
      font-size: var(--ms6);
      display: flex;
      flex-flow: column;
      text-align: center;
      margin-bottom: 1rem;
      line-height: 1.2;

      @media (--phone-landscape-and-up) {
        flex-flow: row;
        font-size: var(--ms4);
        align-items: baseline;

        & > span + span {
          margin-left: 0.25em; /* standard word spacing */
        }
      }

      @media (--tablet-portrait-and-up) {
        flex-flow: column;
        font-size: var(--ms7);
        align-items: inherit;

        & > span + span {
          margin-left: 0;
        }
      }

      @media (--tablet-landscape-and-up) {
        flex-flow: row;
        font-size: var(--ms5);
        align-items: baseline;
        justify-content: center;

        & > span + span {
          margin-left: 0.25em; /* standard word spacing */
        }
      }

      @media (--small-desktop-and-up) {
        font-size: var(--ms6);
        justify-content: flex-start;
      }

      @media (--large-desktop-and-up) {
        font-size: var(--ms8);
      }
    }

    & .details {
      display: flex;
      flex-flow: column;

      @media (--phone-landscape-and-up) {
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      @media (--small-desktop-and-up) {
        align-items: center;
      }
    }

    & .social {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: var(--ms2);

      @media (--phone-landscape-and-up) {
        font-size: var(--ms2);
      }

      @media (--tablet-portrait-and-up) {
        font-size: var(--ms3);
      }

      @media (--large-desktop-and-up) {
        font-size: var(--ms6);
      }

      & .socialLinks {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: var(--ms0);

        @media (--phone-landscape-and-up) {
          font-size: var(--ms-2);
        }

        & li {
          width: 1.5em;
          height: 1.5em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (--phone-landscape-and-up) {
          & li + li {
            margin-left: 0.5em;
          }
        }
      }
    }
  }

  & .content {
    margin: 1.5em auto 0 auto;
    width: 90%;
  }

  & .letters {
    font-size: var(--ms1);

    @media (--phone-landscape-and-up) {
      font-size: var(--ms2);
    }

    & :--letters {
      opacity: 0.2;
    }

    & :--letters.active {
      font-weight: 700;
      opacity: 1;
    }

    & .letterL {
      color: var(--color-red);
    }
    & .letterG {
      color: var(--color-orange);
    }
    & .letterB {
      color: var(--color-yellow);
    }
    & .letterT {
      color: var(--color-green);
    }
    & .letterQr {
      color: var(--color-blue);
    }
    & .letterQs {
      color: var(--color-teal);
    }
    & .letterI {
      color: var(--color-purple);
    }
    & .letterA {
      color: var(--color-pink);
    }
  }
}
