@import '../../../styles/base/media.css';

.nameStep {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 3em 1.5em 0 1.5em;

  @media (--tablet-portrait-and-up) {
    & {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  & .claimButton {
    font-size: 2em;
  }

  & .nameStatus {
    display: flex;
    flex-flow: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms linear;
    min-height: calc(calc(160 / 16) * 1em);

    & p {
      font-size: 1.5em;
    }

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &.available {
      color: var(--color-bluebird);
    }

    &.unavailable {
      color: var(--color-mega-pink);
    }
  }

  & form {
    font-size: 1.7em;
  }
}
