.nameStep {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;

  & .claimButton {
    background: var(--color-bluebird);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 8px;
    font-size: 2em;
  }

  & .nameStatus {
    display: flex;
    flex-flow: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms linear;
    min-height: calc(calc(160 / 16) * 1em);

    & p {
      font-size: 1.5em;
    }

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &.available {
      color: var(--color-bluebird);
    }

    &.unavailable {
      color: var(--color-mega-pink);
    }
  }

  & form {
    font-size: 1.7em;
  }
}
