/*
Futura PT Medium

font-family: futura-pt, sans-serif;

font-weight: 500;

font-style: normal;


Futura PT Medium Oblique

font-family: futura-pt, sans-serif;

font-weight: 500;

font-style: italic;


Futura PT Heavy

font-family: futura-pt, sans-serif;

font-weight: 700;

font-style: normal;


Futura PT Heavy Oblique

font-family: futura-pt, sans-serif;

font-weight: 700;

font-style: italic;


Futura PT Light Oblique

font-family: futura-pt, sans-serif;

font-weight: 300;

font-style: italic;


Futura PT Book

font-family: futura-pt, sans-serif;

font-weight: 400;

font-style: normal;


Futura PT Book Oblique

font-family: futura-pt, sans-serif;

font-weight: 400;

font-style: italic;


Futura PT Light

font-family: futura-pt, sans-serif;

font-weight: 300;

font-style: normal;


Futura PT Extra Bold

font-family: futura-pt, sans-serif;

font-weight: 800;

font-style: normal;


Futura PT Extra Bold Oblique

font-family: futura-pt, sans-serif;

font-weight: 800;

font-style: italic;


Futura PT Demi

font-family: futura-pt, sans-serif;

font-weight: 600;

font-style: normal;


Futura PT Demi Oblique

font-family: futura-pt, sans-serif;

font-weight: 600;

font-style: italic;


Futura PT Bold

font-family: futura-pt-bold, sans-serif;

font-weight: 700;

font-style: normal;


Futura PT Bold Oblique

font-family: futura-pt-bold, sans-serif;

font-weight: 700;

font-style: italic;


Futura PT Cond Book

font-family: futura-pt-condensed, sans-serif;

font-weight: 400;

font-style: normal;


Futura PT Cond Book Oblique

font-family: futura-pt-condensed, sans-serif;

font-weight: 400;

font-style: italic;


Futura PT Cond Medium

font-family: futura-pt-condensed, sans-serif;

font-weight: 500;

font-style: normal;


Futura PT Cond Medium Oblique

font-family: futura-pt-condensed, sans-serif;

font-weight: 500;

font-style: italic;


Futura PT Cond Bold

font-family: futura-pt-condensed, sans-serif;

font-weight: 700;

font-style: normal;


Futura PT Cond Bold Oblique

font-family: futura-pt-condensed, sans-serif;

font-weight: 700;

font-style: italic;


Futura PT Cond Extra Bold

font-family: futura-pt-condensed, sans-serif;

font-weight: 800;

font-style: normal;


Futura PT Cond Extra Bold Oblique

font-family: futura-pt-condensed, sans-serif;

font-weight: 800;

font-style: italic;
*/

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@define-mixin futura-pt-bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@define-mixin futura-pt-demi {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  --mainColor: #111111;
}

body {
  color: var(--mainColor);
  overflow-wrap: break-word;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  height: 100vh;
}

:--heading {
  margin: 2.75rem 0 1rem;
  @mixin futura-pt-bold;
  line-height: 1.15;
}

a {
  color: rgb(0 0 100% / 90%);

  &:hover {
    color: rebeccapurple;
  }
}

html {
  font-size: 16px;
}

p {
  margin-bottom: 1.25em;

  & strong {
    @mixin futura-pt-demi;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

main {
  margin: 0 0.5rem;
}
