@define-mixin futura-pt-bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@define-mixin futura-pt-demi {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@define-mixin futura-pt-medium {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@define-mixin futura-pt-medium-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: italic;
}

@define-mixin futura-pt-heavy {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@define-mixin futura-pt-heavy-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@define-mixin futura-pt-light-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
}

@define-mixin futura-pt-book {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@define-mixin futura-pt-book-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@define-mixin futura-pt-light {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@define-mixin futura-pt-extra-bold {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@define-mixin futura-pt-extra-bold-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: italic;
}

@define-mixin futura-pt-demi {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@define-mixin futura-pt-demi-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: italic;
}

@define-mixin futura-pt-bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@define-mixin futura-pt-bold-oblique {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@define-mixin futura-pt-cond-book {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@define-mixin futura-pt-cond-book-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@define-mixin futura-pt-cond-medium {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@define-mixin futura-pt-cond-medium-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: italic;
}

@define-mixin futura-pt-cond-bold {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@define-mixin futura-pt-cond-bold-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@define-mixin futura-pt-cond-extra-bold {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@define-mixin futura-pt-cond-extra-bold-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: italic;
}
